-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: lgu1_facilities
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcements` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('general','maintenance','event','urgent','facility_update') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'general',
  `priority` enum('low','medium','high','urgent') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'medium',
  `target_audience` enum('all','citizens','admins') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'all',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `is_pinned` tinyint(1) NOT NULL DEFAULT '0',
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `created_by` bigint unsigned NOT NULL,
  `attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `additional_info` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `announcements_is_active_start_date_end_date_index` (`is_active`,`start_date`,`end_date`),
  KEY `announcements_type_priority_index` (`type`,`priority`),
  KEY `announcements_target_audience_is_pinned_index` (`target_audience`,`is_pinned`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_equipment`
--

DROP TABLE IF EXISTS `booking_equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking_equipment` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `booking_id` bigint unsigned NOT NULL,
  `equipment_item_id` bigint unsigned NOT NULL,
  `quantity` int NOT NULL DEFAULT '1' COMMENT 'Number of units rented',
  `price_per_unit` decimal(10,2) NOT NULL COMMENT 'Price at time of booking (locked)',
  `subtotal` decimal(10,2) NOT NULL COMMENT 'quantity * price_per_unit',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `booking_equipment_booking_id_index` (`booking_id`),
  KEY `booking_equipment_equipment_item_id_index` (`equipment_item_id`),
  CONSTRAINT `booking_equipment_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `booking_equipment_equipment_item_id_foreign` FOREIGN KEY (`equipment_item_id`) REFERENCES `equipment_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_equipment`
--

LOCK TABLES `booking_equipment` WRITE;
/*!40000 ALTER TABLE `booking_equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `facility_id` bigint unsigned NOT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `base_rate` decimal(10,2) NOT NULL COMMENT 'Base facility rate (3 hours)',
  `extension_rate` decimal(10,2) DEFAULT NULL COMMENT 'Extension charges',
  `equipment_total` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Total equipment costs',
  `subtotal` decimal(10,2) NOT NULL COMMENT 'Before discounts',
  `city_of_residence` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'User city for resident discount',
  `is_resident` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Eligible for 30% resident discount',
  `resident_discount_rate` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT '30% for residents',
  `resident_discount_amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `special_discount_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'senior, pwd, student',
  `special_discount_id_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Uploaded ID for verification',
  `special_discount_rate` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT 'Additional 20%',
  `special_discount_amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `total_discount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `total_amount` decimal(10,2) NOT NULL COMMENT 'Final amount to pay',
  `purpose` text COLLATE utf8mb4_unicode_ci COMMENT 'Event purpose/description',
  `expected_attendees` int DEFAULT NULL,
  `special_requests` text COLLATE utf8mb4_unicode_ci,
  `valid_id_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Type of ID uploaded (SSS, UMID, etc.)',
  `valid_id_front_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valid_id_back_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valid_id_selfie_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supporting_doc_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Additional documents',
  `rejected_reason` text COLLATE utf8mb4_unicode_ci,
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applicant_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `applicant_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `applicant_phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `applicant_address` text COLLATE utf8mb4_unicode_ci,
  `event_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `event_description` text COLLATE utf8mb4_unicode_ci,
  `event_date` date DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `staff_verified_by` bigint unsigned DEFAULT NULL,
  `staff_verified_at` timestamp NULL DEFAULT NULL,
  `staff_notes` text COLLATE utf8mb4_unicode_ci,
  `admin_approved_by` bigint unsigned DEFAULT NULL,
  `admin_approved_at` timestamp NULL DEFAULT NULL,
  `admin_approval_notes` text COLLATE utf8mb4_unicode_ci,
  `reserved_until` timestamp NULL DEFAULT NULL COMMENT '24-hour hold expires at this time',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `expired_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bookings_facility_id_foreign` (`facility_id`),
  KEY `bookings_is_resident_index` (`is_resident`),
  KEY `bookings_special_discount_type_index` (`special_discount_type`),
  CONSTRAINT `bookings_facility_id_foreign` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `energy_reports_received`
--

DROP TABLE IF EXISTS `energy_reports_received`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `energy_reports_received` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `facility_id` bigint unsigned NOT NULL,
  `booking_id` bigint unsigned DEFAULT NULL,
  `external_report_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `energy_consumed_kwh` decimal(10,2) NOT NULL,
  `energy_cost` decimal(10,2) NOT NULL,
  `efficiency_rating` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recommendations` json DEFAULT NULL,
  `received_data` json NOT NULL COMMENT 'Full data from external system',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `energy_reports_received_external_report_id_unique` (`external_report_id`),
  KEY `energy_reports_received_facility_id_foreign` (`facility_id`),
  KEY `energy_reports_received_booking_id_foreign` (`booking_id`),
  CONSTRAINT `energy_reports_received_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `energy_reports_received_facility_id_foreign` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `energy_reports_received`
--

LOCK TABLES `energy_reports_received` WRITE;
/*!40000 ALTER TABLE `energy_reports_received` DISABLE KEYS */;
/*!40000 ALTER TABLE `energy_reports_received` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_items`
--

DROP TABLE IF EXISTS `equipment_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Equipment name (e.g., Monobloc Chair, Round Table)',
  `category` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'chairs, tables, sound_system, lighting, etc.',
  `description` text COLLATE utf8mb4_unicode_ci,
  `price_per_unit` decimal(10,2) NOT NULL COMMENT 'Rental price per unit',
  `quantity_available` int NOT NULL DEFAULT '0' COMMENT 'Total units available',
  `is_available` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Can be rented',
  `image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Photo of equipment',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `equipment_items_category_index` (`category`),
  KEY `equipment_items_is_available_index` (`is_available`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_items`
--

LOCK TABLES `equipment_items` WRITE;
/*!40000 ALTER TABLE `equipment_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_schedules_sent`
--

DROP TABLE IF EXISTS `event_schedules_sent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_schedules_sent` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `booking_id` bigint unsigned NOT NULL,
  `event_data` json NOT NULL COMMENT 'Event name, facility, attendees, date/time',
  `external_request_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('sent','acknowledged','failed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sent',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `event_schedules_sent_booking_id_foreign` (`booking_id`),
  CONSTRAINT `event_schedules_sent_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_schedules_sent`
--

LOCK TABLES `event_schedules_sent` WRITE;
/*!40000 ALTER TABLE `event_schedules_sent` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_schedules_sent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `external_projects`
--

DROP TABLE IF EXISTS `external_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_projects` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `external_project_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contractor_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `project_start_date` date NOT NULL,
  `project_end_date` date NOT NULL,
  `affected_facilities` json NOT NULL COMMENT 'Array of facility IDs',
  `impact_description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('planned','ongoing','completed','cancelled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'planned',
  `received_data` json NOT NULL COMMENT 'Full data from external system',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `external_projects_external_project_id_unique` (`external_project_id`),
  KEY `ext_proj_dates_idx` (`project_start_date`,`project_end_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_projects`
--

LOCK TABLES `external_projects` WRITE;
/*!40000 ALTER TABLE `external_projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `external_projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilities`
--

DROP TABLE IF EXISTS `facilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facilities` (
  `facility_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `lgu_city_id` bigint unsigned DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capacity` int DEFAULT NULL,
  `min_capacity` int NOT NULL DEFAULT '1',
  `per_person_rate` decimal(10,2) DEFAULT NULL,
  `per_person_extension_rate` decimal(10,2) DEFAULT NULL,
  `base_hours` int NOT NULL DEFAULT '3',
  `hourly_rate` decimal(10,2) DEFAULT NULL,
  `rate_per_hour` decimal(10,2) DEFAULT NULL,
  `image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Facility photo',
  `is_available` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`facility_id`),
  UNIQUE KEY `facilities_name_unique` (`name`),
  KEY `facilities_lgu_city_id_index` (`lgu_city_id`),
  CONSTRAINT `facilities_lgu_city_id_foreign` FOREIGN KEY (`lgu_city_id`) REFERENCES `lgu_cities` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilities`
--

LOCK TABLES `facilities` WRITE;
/*!40000 ALTER TABLE `facilities` DISABLE KEYS */;
/*!40000 ALTER TABLE `facilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility_reviews`
--

DROP TABLE IF EXISTS `facility_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facility_reviews` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `facility_id` bigint unsigned NOT NULL,
  `booking_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rating` int unsigned NOT NULL COMMENT '1-5 stars',
  `review` text COLLATE utf8mb4_unicode_ci,
  `is_verified` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Only for completed bookings',
  `is_visible` tinyint(1) NOT NULL DEFAULT '1',
  `admin_response` text COLLATE utf8mb4_unicode_ci,
  `admin_responder_id` bigint unsigned DEFAULT NULL,
  `admin_responded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `facility_reviews_booking_id_foreign` (`booking_id`),
  KEY `facility_reviews_facility_id_index` (`facility_id`),
  KEY `facility_reviews_user_id_index` (`user_id`),
  KEY `facility_reviews_rating_index` (`rating`),
  KEY `facility_reviews_is_visible_index` (`is_visible`),
  CONSTRAINT `facility_reviews_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `facility_reviews_facility_id_foreign` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility_reviews`
--

LOCK TABLES `facility_reviews` WRITE;
/*!40000 ALTER TABLE `facility_reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `facility_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lgu_cities`
--

DROP TABLE IF EXISTS `lgu_cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lgu_cities` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `city_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Caloocan, Quezon City, etc.',
  `city_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'CLCN, QC, etc.',
  `description` text COLLATE utf8mb4_unicode_ci,
  `status` enum('active','coming_soon','inactive') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `has_external_integration` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Integrated with their systems',
  `integration_config` json DEFAULT NULL COMMENT 'API URLs, keys, etc.',
  `facility_count` int NOT NULL DEFAULT '0' COMMENT 'Cached count of facilities',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `lgu_cities_city_name_unique` (`city_name`),
  UNIQUE KEY `lgu_cities_city_code_unique` (`city_code`),
  KEY `lgu_cities_status_index` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lgu_cities`
--

LOCK TABLES `lgu_cities` WRITE;
/*!40000 ALTER TABLE `lgu_cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `lgu_cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_requests_sent`
--

DROP TABLE IF EXISTS `maintenance_requests_sent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_requests_sent` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `facility_id` bigint unsigned NOT NULL,
  `booking_id` bigint unsigned DEFAULT NULL,
  `request_data` json NOT NULL COMMENT 'Facility name, time, maintenance type',
  `external_request_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('sent','acknowledged','failed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sent',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `maintenance_requests_sent_facility_id_foreign` (`facility_id`),
  KEY `maintenance_requests_sent_booking_id_foreign` (`booking_id`),
  CONSTRAINT `maintenance_requests_sent_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `maintenance_requests_sent_facility_id_foreign` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_requests_sent`
--

LOCK TABLES `maintenance_requests_sent` WRITE;
/*!40000 ALTER TABLE `maintenance_requests_sent` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_requests_sent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_schedules_received`
--

DROP TABLE IF EXISTS `maintenance_schedules_received`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_schedules_received` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `facility_id` bigint unsigned NOT NULL,
  `external_schedule_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `maintenance_start` datetime NOT NULL,
  `maintenance_end` datetime NOT NULL,
  `maintenance_team` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('scheduled','in_progress','completed','cancelled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'scheduled',
  `received_data` json NOT NULL COMMENT 'Full data from external system',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `maintenance_schedules_received_external_schedule_id_unique` (`external_schedule_id`),
  KEY `maintenance_schedules_received_facility_id_foreign` (`facility_id`),
  KEY `maint_sched_dates_idx` (`maintenance_start`,`maintenance_end`),
  CONSTRAINT `maintenance_schedules_received_facility_id_foreign` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_schedules_received`
--

LOCK TABLES `maintenance_schedules_received` WRITE;
/*!40000 ALTER TABLE `maintenance_schedules_received` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_schedules_received` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2025_11_15_171833_add_discount_fields_to_bookings_table',1),(2,'2025_11_16_000001_add_image_path_to_facilities_table',2),(3,'2025_11_16_154306_create_facility_reviews_table',3),(4,'2025_11_18_082732_add_valid_id_type_to_bookings_table',4);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_slips`
--

DROP TABLE IF EXISTS `payment_slips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_slips` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `slip_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `booking_id` bigint unsigned NOT NULL,
  `amount_due` decimal(10,2) NOT NULL,
  `payment_deadline` timestamp NOT NULL,
  `status` enum('unpaid','paid','expired') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'unpaid',
  `payment_method` enum('cash','gcash','paymaya','bank_transfer','credit_card') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_gateway` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'gcash, paymaya, bank, cash',
  `gateway_transaction_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Transaction ID from payment gateway',
  `gateway_reference_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_receipt_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'URL to payment receipt',
  `gateway_webhook_payload` json DEFAULT NULL COMMENT 'Full webhook data from gateway',
  `treasurer_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Reference number from Treasurer system',
  `or_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Official Receipt number',
  `treasurer_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'confirmed, pending, rejected from Treasurer',
  `sent_to_treasurer_at` timestamp NULL DEFAULT NULL,
  `reminder_24h_sent_at` timestamp NULL DEFAULT NULL,
  `reminder_6h_sent_at` timestamp NULL DEFAULT NULL,
  `confirmed_by_treasurer_at` timestamp NULL DEFAULT NULL,
  `treasurer_cashier_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `treasurer_cashier_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_intent_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_source_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_source_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paymongo_response` text COLLATE utf8mb4_unicode_ci,
  `paid_at` timestamp NULL DEFAULT NULL,
  `verified_by` bigint unsigned DEFAULT NULL,
  `transaction_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_test_transaction` tinyint(1) NOT NULL DEFAULT '0',
  `payment_channel` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `account_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `account_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payment_slips_slip_number_unique` (`slip_number`),
  UNIQUE KEY `payment_slips_booking_id_unique` (`booking_id`),
  KEY `payment_slips_status_index` (`status`),
  KEY `payment_slips_payment_deadline_index` (`payment_deadline`),
  KEY `payment_slips_paid_at_index` (`paid_at`),
  KEY `payment_slips_gateway_transaction_id_index` (`gateway_transaction_id`),
  KEY `payment_slips_or_number_index` (`or_number`),
  KEY `payment_slips_treasurer_status_index` (`treasurer_status`),
  CONSTRAINT `payment_slips_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_slips`
--

LOCK TABLES `payment_slips` WRITE;
/*!40000 ALTER TABLE `payment_slips` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_slips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `road_maintenance_received`
--

DROP TABLE IF EXISTS `road_maintenance_received`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `road_maintenance_received` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `external_maintenance_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `road_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `road_status` enum('open','closed','partial') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'open',
  `closure_start` datetime DEFAULT NULL,
  `closure_end` datetime DEFAULT NULL,
  `alternative_routes` text COLLATE utf8mb4_unicode_ci,
  `traffic_advisory` text COLLATE utf8mb4_unicode_ci,
  `received_data` json NOT NULL COMMENT 'Full data from external system',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `road_maintenance_received_external_maintenance_id_unique` (`external_maintenance_id`),
  KEY `road_maint_closure_idx` (`closure_start`,`closure_end`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `road_maintenance_received`
--

LOCK TABLES `road_maintenance_received` WRITE;
/*!40000 ALTER TABLE `road_maintenance_received` DISABLE KEYS */;
/*!40000 ALTER TABLE `road_maintenance_received` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usage_reports_sent`
--

DROP TABLE IF EXISTS `usage_reports_sent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usage_reports_sent` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `facility_id` bigint unsigned NOT NULL,
  `booking_id` bigint unsigned NOT NULL,
  `usage_data` json NOT NULL COMMENT 'Duration, attendees, equipment',
  `external_report_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('sent','acknowledged','failed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sent',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `usage_reports_sent_facility_id_foreign` (`facility_id`),
  KEY `usage_reports_sent_booking_id_foreign` (`booking_id`),
  CONSTRAINT `usage_reports_sent_booking_id_foreign` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `usage_reports_sent_facility_id_foreign` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usage_reports_sent`
--

LOCK TABLES `usage_reports_sent` WRITE;
/*!40000 ALTER TABLE `usage_reports_sent` DISABLE KEYS */;
/*!40000 ALTER TABLE `usage_reports_sent` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-01 13:54:17
